{% extends 'base.html'%}

{% block title %} About {% endblock %}





{% block body %} 
<div id="aboutBody">
<h2>About Vertical Tank Maintenance</h2> 


    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus, metus eget malesuada faucibus, arcu mauris iaculis tortor, in luctus metus turpis at ex. Quisque sit amet tortor ac erat ornare pharetra ac in nibh. Proin at massa efficitur, pretium risus in, condimentum sem. Vestibulum pellentesque sem lectus, vitae maximus turpis convallis ut. Pellentesque posuere nulla augue. Donec rutrum nisl erat, pulvinar faucibus lorem convallis sed. Proin viverra condimentum elit, a tincidunt velit dapibus a. Nullam auctor ut massa eu sodales. Nullam euismod lacinia lectus convallis porttitor. Phasellus malesuada purus et lorem consectetur, et blandit dui sodales. Sed vel malesuada odio. Nullam ac placerat est, tempor luctus dui. Ut nisi ex, fringilla placerat odio id, faucibus aliquet neque.

Aliquam fringilla nunc at nisi semper, eu feugiat justo mollis. Vestibulum eu ex nec risus dignissim tincidunt vitae in lectus. Nam augue odio, dictum non suscipit viverra, facilisis ut eros. Donec pellentesque auctor vehicula. Duis tincidunt condimentum porttitor. Mauris rutrum risus lorem, eget ornare libero convallis sit amet. Curabitur non libero mollis, facilisis purus nec, ultricies quam. Proin hendrerit nisi id turpis varius, vitae tempor velit congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum et sem malesuada, varius.
    </p>
</div>



{% endblock %}