{% extends 'base.html'%}

{% block title %} Estimate{% endblock %}






{% block body %} 
<h2 class="text-center"> Create An Estimate </h2>
<br>
<br>
<div class="row ">
  <div class="col-md-2"></div>
  <div class="col-md-4">
  <form id="estimateForm" method="POST" action="/tankCalc" id=calculateCost>
      <label for="height">Height:</label><br>
      <input type="text" id="height" name="height" placeholder="in Feet" pattern=\d{1,} required autofocus><br>
      <label for="radius">Radius:</label><br>
      <input type="text" id="radius" name="radius" placeholder="in Feet" pattern=\d{1,} required><br><br>
      <input type="submit" class="btn btn-light btn-lg" value="Submit">
    </form>
  </div>
  <div class="col-md-4">
    {% if tankCalc %}
    <p class="text-dark">the price of your tank will be: {{ "${:,.2f}".format(tankCalc) }}</p>
  {% endif%}

  </div>
  
</div>

  <br>
  <br>

  
<br>

{% endblock %}